@charset "utf-8";
/* CSS Document */

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
-->


.topdiv{
	background-color:transparent;
	min-height: 100px;
    }
	
.negritas{
	font-weight:bold;
}

.productos{
	width:100%;
	height:150px;
	appearance:workspace;
	overflow:auto;
	background-color:#FAFAFA;
}

.separador{
	background:#063;
}
	
iframe { margin:0; padding:0; height:450px; display:block; width:100%; border:none; }

.seleccionado{
    background:#E6E6E6;
}

.seleccionado td{
    color:#60F;
}


